<span>Currency</span>
<select  [(ngModel)]="selectedOption" name="currency">
  <option *ngFor="let currency of currencyList" [value]="currency">{{currency}}</option>
</select>
<span>Start:</span>
<input [(ngModel)]="startDay" type="date" id="start" name="data-start"
       min="2000-01-01">

<span>End:</span>
<input [(ngModel)]="endDay" type="date" id="end" name="data-end"
       min="2000-01-01">
<button (click)="getRate()">Submit</button>
<chart [type]="type" [data]="data" [options]="options"></chart>
<table>
  <tr>
    <th>Date</th>
    <th>{{currency}}</th>
  </tr>
  <tr *ngFor="let value of tableData">
    <td>{{value.exchangedate}}</td>
    <td>{{value.rate}}</td>
  </tr>

</table>

