* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

span {
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
}

button {
    border: 2px grey solid;
    color: #342;
    border-radius: 25%;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    
}

table, td, th {
    border: 1px solid grey;
    padding: 10px;
}

